.post-container {
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .showPost {
    margin: 5px;
    padding: 10px;
    /* border: 1px solid var(--darkgrey); */
    max-width: 900px;
  }

  .postPreview:hover {
    color: var(--darkgrey);
  }

  .postBar {
    display: flex;
    flex-direction: row;
    color: var(--darkgrey);
    margin-top: 5px;
  }
  .author:hover {
    font-weight: bold;
  }

.headerImg {
  width: 100%
}