.post {
  margin: 5px;
  padding: 10px;
  max-width: 900px;
}

.frontPagePost:hover {
  color: var(--darkgrey);
}

.postBar {
  display: flex;
  flex-direction: row;
  color: var(--darkgrey);
  margin-top: 5px;
}
.author:hover {
  font-weight: bold;
}

.headerImg {
  width: 100%
}