.navbar, ul {
  display: flex;
  flex-direction: row;
  margin: 5px auto;
  padding: 0;
}

.navbar li {
  margin: 0 10px 5px;
  list-style: none;
}

.navbar a {
  color: var(--darkgrey);
  text-decoration: none;
}

.navbar ul {
  border-bottom: 1px solid #f1f1f1;
}