.devIntro {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  /* width: 80%; */
}

.devSnippet {
  width: 90%;
  margin-bottom: 10px;
}

.devSnippet:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 10px;
  border-bottom: 1px solid var(--lightblue);
}

.devInfo h2 {
  margin: 5px 0 15px 0;
}

.devInfo p {
  margin: 0 0 5px 0;
}

.devPicture {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.viewProfile {
  padding: 5px 10px;
  border: 1px solid var(--lightblue);
  border-radius: 3px;
  cursor: pointer;
  color: var(--offwhite);
  background-color: var(--lightblue);
}

@media only screen and (min-width: 600px) {
  .devSnippet {
    width: 60%;
  }

  .devSnippet:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 30%;
    padding-top: 10px;
    border-bottom: 1px solid var(--lightblue);
  }

  .devIntro {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 400px) {

}