.footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background: var(--darkgrey);
    color: #ECF0F1;
    height: 50px;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 0;
}